:root {
  --bg-color: #151515;
  --text-color: #ededed;
}
body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  user-select: none;
}

.swiper {
  width: 100%;
  z-index: 10;
  /* height: calc(100vh - 15vh);
   */
  height: fit-content;
}
.swiper-pagination {
  background: var(--bg-color);
}
.swiper-pagination-progressbar-fill {
  background: var(--text-color) !important;
}
.logo-font {
  font-size: 1em;
  font-weight: bold;
}
.navbar {
  height: 15vh !important;
  background: var(--bg-color);
  z-index: 9;
}
.btn-swiper {
  width: 100px;
  bottom: 30px;
  left: 25px;
  z-index: 20;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--text-color);
  font-size: 18px;
}

.sub-line-logo {
  letter-spacing: 2px;
  bottom: -8px;
  left: 0;
}
.polka-dot {
  width: 500px;
  height: 100vh;
  background-color: var(--bg-color);
  background-image: radial-gradient(var(--text-color) 10%, transparent 11%),
    radial-gradient(var(--text-color) 10%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}
.org-img {
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.4));
  transition: all 0.5s ease-in-out;
}
.org-img:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.7));
}

.main-heading {
  font-weight: bolder;
  font-size: 5rem;
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
  cursor: pointer;
}
.main-heading > span:hover:nth-child(2),
.yellow-box:hover {
  border: 1px solid rgba(255, 255, 0, 0.4);
  background: transparent;
}
.main-heading > span:hover:nth-child(1),
.main-heading > span:hover:nth-child(2),
.title,
.yellow-box:hover {
  color: var(--text-color);
}
.main-heading > span:nth-child(2),
.main-heading > span:nth-child(1),
.yellow-box,
.title {
  transition: all 0.4s ease-in-out;
}
.main-heading > span:nth-child(2),
.yellow-box {
  border: 1px solid rgba(255, 255, 0, 0.4);
  background: rgba(255, 255, 0, 0.4);
}

.main-list {
  letter-spacing: 3px;
}
.fz-head-1 {
  font-size: 0.6em;
}
.fz-head-2 {
  font-size: 2em;
}
.underline {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.underline::after {
  content: "";
  background: rgb(255, 255, 0);
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 100%;
}
.p-fz {
  font-size: 17px;
}
.card {
  cursor: pointer;
  margin: 15px 0;
  background: none !important;
  transition: all 0.3s ease-in-out;
  border: none !important;
}
.a-tag {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
}
.a-tag:hover {
  color: rgb(255, 255, 0);
}
/*.card:hover {
  /* transform: translateY(-10px); 
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.7);
}
*/

.offer-card-1 img {
  filter: drop-shadow(0 0 10px rgba(204, 27, 51, 0.5));
}
.offer-card-2 img {
  filter: drop-shadow(0 0 10px rgba(244, 76, 47, 0.5));
}
.offer-card-3 img {
  filter: drop-shadow(0 0 10px rgba(255, 217, 30, 0.5));
}
.offer-card-1:hover img {
  filter: drop-shadow(0 0 15px rgba(204, 27, 51, 0.7));
}
.offer-card-2:hover img {
  filter: drop-shadow(0 0 10px rgba(244, 76, 47, 0.7));
}
.offer-card-3:hover img {
  filter: drop-shadow(0 0 10px rgba(255, 217, 30, 0.7));
}
.card.retail {
  filter: drop-shadow(0 0 10px rgba(121, 192, 70, 0.5));
}
.card.retail:hover {
  filter: drop-shadow(0 0 13px rgba(121, 192, 70, 0.7));
}
.btn-shop {
  border-radius: 30px;
  background-color: rgb(255, 255, 0);
  color: var(--bg-color);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgb(255, 255, 0);
}
.btn-shop:hover {
  color: var(--text-color);
  background-color: transparent;
}

@media screen and (max-width: 769px) {
  .slide-rev {
    flex-direction: column-reverse !important;
  }
}
